@import '../App.scss';

.Home {
  display: flex;
  height: 100%;

  & > .HomeLeft {
    background-color: $mainDarkColor;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > .HomeContent {
      transition-duration: 0.3s;
      margin: 32px 10%;
      padding: 20%;
      background-color: #ada79f5a;
    }

    & > .HomeContent:hover {
      padding: 22%;
      transition-duration: 0.3s;
      box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
      z-index : 100;
    }
  }

  & > .HomeRight {
    background-color: $mainColor;
    height: 100%;
    width: 100%;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > button {
      font-size: 200%;
      font-weight: bold;
      color: $mainDarkColor;
      padding: 4% 6%;
      margin: 3% 0;
      border: 0;
      border-radius: 16px;
      background-color: #ffffff00;
    }

    & > button:hover {
      background-color: $mainDarkColor;
      color: aliceblue;
    }
  }

  & > .HomeRight:hover {
    transition-duration: 0.5s;
    width: 125%;

    & > button {
      color: #142140;
      transition-duration: 0.7s;
      font-size: 250%;
      background-color: #ffffff3f;
    }

    & > button:hover {
      transition-duration: 0.3s;
      background-color: $mainDarkColor;
      color: aliceblue;
    }
  }

}